<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>EE461L_Homework_1</servlet-name>
		<servlet-class>com.ee461l.blog.EE461L_Homework_1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EE461L_Homework_1</servlet-name>
		<url-pattern>/ee461l_homework_1</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>createPost</servlet-name>
        <servlet-class>com.ee461l.blog.CreatePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createPost</servlet-name>
        <url-pattern>/createPost</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>email</servlet-name>
        <servlet-class>com.ee461l.blog.EmailCronServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>email</servlet-name>
        <url-pattern>/cron/email</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>subscribe</servlet-name>
        <servlet-class>com.ee461l.blog.SubscribeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>subscribe</servlet-name>
        <url-pattern>/subscribe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>unsubscribe</servlet-name>
        <servlet-class>com.ee461l.blog.UnsubscribeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>unsubscribe</servlet-name>
        <url-pattern>/unsubscribe</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>homepage.jsp</welcome-file>
	</welcome-file-list>
</web-app>
